h1 {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 200%;
}
h2 {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 180%;
}
h4 {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 120%;
}
body
{
  color: #003399;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-style: normal;
  background-color: #ffffff;
  font-size: 10pt;
}
a
{   
  color: #003399;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  background-color: "#ffffff";
}
th, input, select, table
{
  font-size: 8pt;
  /*border-spacing:2px ;*/
}
.impressao
{
  font-size: 6pt;
}
